.AboutUs {
  position: relative;
  overflow: hidden;
}

.backgroundVideo {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.contentWrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(var(--background), 0.8);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.content {
  width: 60%;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 4vh;
  text-indent: 2vw;
}

.content p {
  font-size: clamp(
    var(--min-text-size),
    var(--preferred-text-size),
    var(--max-text-size)
  );
}

.Article {
  font-size: clamp(
    var(--min-article-size),
    var(--preferred-article-size),
    var(--max-article-size)
  );
  font-weight: 700;
}

@media (max-width: 479px) {
  .contentWrapper {
    padding: 8vh 8vw;
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Article {
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .contentWrapper {
    padding: 8vh 8vw;
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Article {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contentWrapper {
    padding: 8vh 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .content {
    width: 70%;
  }
  .Article {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contentWrapper {
    padding: 14vh 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .content {
    width: 70%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .contentWrapper {
    padding: 20vh 14vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .contentWrapper {
    padding: 28vh 14vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
