.footer {
  background: rgb(var(--background));
  color: rgb(var(--textColor));
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.footerContent span {
  font-weight: 700;
  font-size: clamp(
    var(--min-text-size),
    var(--preferred-text-size),
    var(--max-text-size)
  );
}

.footerContent p {
  opacity: 0.8;
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: clamp(
    var(--min-header-size),
    var(--preferred-header-size),
    var(--max-header-size)
  );
}

.footerContent a {
  opacity: 0.8;
  text-decoration: none;
  font-size: clamp(
    var(--min-header-size),
    var(--preferred-header-size),
    var(--max-header-size)
  );
}

.footerContent a:hover {
  opacity: 1;
}

@media (max-width: 479px) {
  .footer {
    padding: 8vh 4vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 50vh;
  }
  .footer section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer {
    padding: 8vh 4vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 50vh;
  }
  .footer section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding: 8vh 4vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer {
    padding: 8vh 12vw;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .footer {
    padding: 8vh 14vw;
  }
}

@media (min-width: 1400px) {
  .footer {
    padding: 8vh 14vw;
  }
}
